.right-col, .right-col1, .right-col2, .right-col3, .right-col4, .right-col5, .right-col6 {
    border: 1rem solid rgb(50, 82, 110);
    margin: 10%;
    background-image: url(../images/minback.jpg);
}
.right-col-start {
    height: 100%;
    position: relative;
    font-size: 35px;
    font-family: Helvetica;
    font-weight: 600;
    color: #32526E;
}
#aboutlink {
    display: flex;
    font-size: 90%;
}
h4 {
    margin-left: 6%;
}
#aboutimg {
    height: 50;
    width: 50;
    border-radius: 50%;
}
#data, #link, #hobbies, #workdata, #worklink {
    font-family: helvetica;
    font-size: 45%;
    display: block;
    margin-left: 6%; 
    margin-right: 10%; 
    text-align: justify;
}
#link {
    cursor: pointer;
    color: #ceb180;
    font-weight: 1000;
    text-decoration: underline;
}
.center {
    display: flex;
    align-items: center;
}
.links {
    margin-left: 5%;
    font-size: 15px;
    display: grid;
    grid-template-columns: 60px 1fr 60px 1fr;
    grid-row-gap: 10px;
}
.txt-type {
    font-size: 120%;
}
.arrows, .arrows2, .arrows3 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 100%;
    bottom: 10%;
}
#clip {
    display: flex;
    justify-content: center;
    width: 0%;
}
.arrows a, .arrows2 a, .arrows3 a {
    font-weight: 700;
    color: black;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 600;
    color: #32526E;
}
#imglink, #orgimglink {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

#year, #position, #school, #workyear, #orgyear, #orgposition {
    display: block;
}
h6 {
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 80%;
}
@media (max-width: 1024px) {
    .links {
        grid-template-columns: 60px 1fr;
    }
}
a, a:visited {
    color: rgb(50, 82, 110);
}
