#econtainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 100%;
    background-color: rgb(50, 82, 110);
    padding: 20%;
    font-family: Helvetica;
    font-weight: 700;
    margin-left: -10%;
    box-shadow: 5px 10px;
    border-radius: 5%;
}
#email, #password {
    background-color: white;
    margin-top: 5%;
    font-family: Helvetica;
    font-weight: 700;
}
#button {
    color: rgb(50, 82, 110);
    background-color: white;
    border: none;
    margin: 10%;
    padding: 5%;
    width: 40%;
    font-family: Helvetica;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid rgb(50, 82, 110);
}
#button:hover {
    color: black;
}


