body {
    margin: 0;
}
a{
    text-decoration: none;
}
#background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}
#container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr;

    position: relative; 
}
.profimg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#profpic {
    height: 400px;
    width: 400px;
    border: 13px solid #32526E;
    margin-top: 42px;
}
@media screen and (max-width: 1400px) {
    #profpic {
        height: 350px;
        width: 350px;
    }
}
@media screen and (max-width: 1200px){
    #profpic {
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 800px){
    #profpic {
        height: 225px;
        width: 300px;
    }
}