body {
    margin: 0;
}
a{
    text-decoration: none;
}
#background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}
#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
    position: relative; 
}
.profimg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#profpic {
    height: 400px;
    width: 400px;
    border: 13px solid #32526E;
    margin-top: 42px;
    margin-left: 100px;
}
