body {
    margin: 0;
    background-image: url(../images/snowbackground.jpg);
}
#bgimage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
}
.left-col {
    background-color: #222222;
    height: 100%;
    color: white;
    position: fixed;
    left: 0;
    width: 300px;
    border-right: 50px solid #555555;
}
.right-col, .right-col1, .right-col2 {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    grid-column: 2/3;
    background-repeat: no-repeat;
}